@import "./mixins";

:root {
  --header-height: 80px;
  --navigation-width: 220px;
  --content-width: 1024px;

  --z-index-header: 100;
  --z-index-navigation: 100;
}

.app {
  width: 100%;
  height: 100%;
}

.app-header {
  width: 100%;
  height: var(--header-height);
  z-index: var(--z-index-header);
  background: #23476B;

  position: fixed;

  @include for-tablet-up {
    position: relative;
  }
}

.app-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  padding-top: var(--header-height);

  @include for-tablet-up {
    //min-height: calc(100% - var(--header-height));
    padding: 0;
  }
}

.app-footer {
  position: relative;
  height: 240px;
  background: #13293d;
  color: #fff;
  width: 100%;

  &__content {
    margin: 0 auto;
    padding: 1.6rem 3.2rem;
    height: 100%;

    @include for-desktop-up {
      max-width: 1024px;
    }
  }
}

.app-navigation-wrapper {
  min-width: var(--navigation-width);
  width: calc((100% - var(--content-width)) / 2);
  padding-left: calc(((100% - var(--content-width)) / 2) - var(--navigation-width));

  margin-left: calc(-1 * var(--navigation-width));
  background: #fff;
  transition: margin-left ease-in-out 150ms, background-color ease-in-out 150ms 150ms;

  @include for-tablet-up {
    margin-left: 0;
    background: transparent;
    transition: margin-left ease-in-out 150ms, background-color ease-in-out 150ms;
  }
}

.app-content-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.app-content {
  max-width: var(--content-width);
  min-height: 100%;
  padding: 0;
  transition: padding ease-in-out 150ms;

  @include for-tablet-up {
    padding: 1.6rem;
  }
}

.app-main {
  min-height: 100%;
  padding: 3.2rem 1.6rem;
  background: #fff;
  border-radius: 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
  transition: padding ease-in-out 150ms;

  @include for-tablet-up {
    border-radius: 4px;
    padding: 1.6rem;
  }
}

.app-navigation {

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 2.4rem 0 2.4rem 1.6rem;

  overflow: auto;

  z-index: var(--z-index-navigation);
}

.app-navigation-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  &__title {
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 2rem;
    margin-bottom: 0.4rem;
  }
}

.app-navigation-element {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  height: 3.6rem;
  padding: 0 2rem;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  transition: background-color ease-in-out 150ms;
  margin-bottom: 0.4rem;

  &:hover, &:focus {
    outline: 0;
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

}

